<ion-content padding class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
  <ion-header>
    <ion-navbar>
    </ion-navbar>
  </ion-header>
  <div padding>
    <ion-row>
      <ion-col>
        <img class="logo" src="assets/logo/logo-nicolae.png" />
      </ion-col>
    </ion-row>

    <ion-row>
      <form padding [formGroup]="loginForm" (submit)="login()" novalidate>
        <ion-item>
          <ion-input [(ngModel)]="model.email" formControlName="email" type="text" placeholder="E-mail" clearInput clearOnEdit="false">
          </ion-input>
        </ion-item>
        <span *ngIf="errorEmail" class="error"> {{messageEmail}}</span>
        <ion-item>
          <ion-input [(ngModel)]="model.password"  formControlName="password" type="password" placeholder="Senha" clearInput clearOnEdit="false">
          </ion-input>
        </ion-item>
        <span *ngIf="errorPassword" class="error"> {{messagePassword}}</span>
      </form>
    </ion-row>
    <ion-row>

      <ion-col>
        <button ion-button class="login-button" color="danger" (click)="validarLogin()">Entrar</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div (click)="openRecuperaSenha()">
          <button ion-button color="light"  small outline>Ou recupere sua senha</button>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>