page-login {
    // Fullscreen centered image background
    ion-content {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-color: transparent;
    }
    .scroll-content {
      background-image: radial-gradient(center center, ellipse cover, #ffeda3, #ffc800);
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    .logo {
      width: 50%;
      height: auto;
      max-width: 12em;
      margin: 0 auto;
      padding-top: 30px;
      padding-bottom: 50px;
      align-content: center;
    }
    .no-border {
      border-bottom: 0 !important;
      box-shadow: none !important;
    }
    ion-row {
      align-items: center;
      text-align: center;
    }
    @media only screen and (min-width: 768px) {
      ion-col.col {
        margin: 0 auto;
        max-width: 40%; 
      }
    }
    span {
      color: white;
      float: left;
      font-size: 12px;
      padding-top: 3px;
      padding-bottom: 10px;

    }
    ion-item {
      // border-radius: 30px !important;
      padding-left: 10px !important;
      margin-bottom: 10px;
      background-color: white;
      opacity: 0.9;
      font-size: 0.9em;
    }
    ion-list {
      margin: 0;
    }
    .login-button {
      width: 100%;
      // border-radius: 30px;
      font-size: 0.9em;

      // border: 1px solid #fff;
      background-color: #DF0101;
      
    }

    ion-modal,
    .show-page {
      // transparent black background overlay
      background-color: rgba(0, 0, 0, .5) !important;
      padding: 50px !important;
    }
    .toolbar-background {
      color: red !important;
    }
    ion-modal.modal-wrapper {
      transform: translateY(30%) !important;
    }
    ion-page.modal {
      padding: 30px;
      background: rgba(0, 0, 0, 0.5);
    }
    .modal-backdrop-bg {
      background-color: #000;
      opacity: 0;
    }
    .active .modal-backdrop-bg {
      opacity: 0.5;
    }
  }
  
  ion-modal.inset-modal {
    // transparent black background overlay
    background-color: rgba(0, 0, 0, .5) !important;
    transition: opacity .25s ease-in-out;
    padding: 20vh 10vw;
  }
  