page-altera-senha {
    ion-input {
        border-radius: 7px !important;
        padding-left: 20px !important;
        margin-bottom: 10px;
        background-color: #f3d3d3;
        font-size: 0.9em;
      }
}
