page-notas-faltas  {
     .exportar-buttom {
      width: 100%;
      // border-radius: 30px;
      font-size: 0.9em;
      // border: 1px solid #fff;
      background-color: #DF0101;
      
    }
  }
  