page-aula-info-modal {
  .ion-card {
    border-radius: 8px;
    border: 0.4pt solid #756f6f;
    background-color: #fff;
    margin-left: 3%;
    margin-right: 3%;
padding-inline-start: 3%; 
padding-inline-end: 3%;
padding-top: 3%;
padding-bottom: 3%;
  }
  .ion-card-title {
    border-radius: 5px;
    font-size: 2em;
    border: 0.4pt solid #fff;
    background-color: #DF0101;
    text-align: center;
    
  }
  }
  
