accordion {
    
        .card-header{
            background-color: map-get($colors, primary);
            color: rgb(255, 255, 255);
        }
        .card-content {
            padding: 0px 16px; 
            max-height: 0px;
        }
    }